.pageAllProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
}
.pageAllProducts table, th, td{
    border: 1px solid black;
    padding: 1em;
}
.pageAllProducts table{
    border-collapse: collapse;
    width: 800px;
    background-color: #fff;
    color: #000;
    text-align: center;
}